body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container__header {
  height: 120px;
  background: #00B7FF;
}
.container__body {
  background: #eee;
}
.row .col-sm-10, .row .col-sm-2 {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #ddd;
}